.idea
Lab.iml
Exercises.iml
#--------------------01---------------------------------------------------------
01.IntroAndBasicSyntax/Lab/out/production/Lab
01.Programming-Fundamentals-CSharp-Intro-and-Basic-Syntax.pptx
01.Programming-Fundamentals-CSharp-Intro-and-Basic-Syntax-Lab.docx

01.IntroAndBasicSyntax/Exercises/out/production/Exercises
01.IntroAndBasicSyntax/Exercises/01.Programming-Fundamentals-CSharp-Intro-and-Basic-Syntax-Exercises.docx

#--------------------02---------------------------------------------------------
02.ConditionalStatementsAndLoops/Lab/out/production/Lab
02.ConditionalStatementsAndLoops/Lab/02.Programming-Fundamentals-CSharp-Conditional-Statements-and-Loops.pptx
02.ConditionalStatementsAndLoops/Lab/02.Programming-Fundamentals-CSharp-Conditional-Statements-and-Loops-Lab.docx

02.ConditionalStatementsAndLoops/Exercises/out/production/Exercises
02.ConditionalStatementsAndLoops/Exercises/02.Programming-Fundamentals-CSharp-Conditional-Statements-and-Loops-Exercises.docx
#--------------------03---------------------------------------------------------
03.DataTypesAndVariables/Lab/out/production/Lab
03.DataTypesAndVariables/Lab/03.Programming-Fundamentals-Data-Types-and-Variables.pptx
03.DataTypesAndVariables/Lab/03.Programming-Fundamentals-Data-Types-and-Variables-Lab.docx

03.DataTypesAndVariables/Exercises/out/production/Exercises
#--------------------04---------------------------------------------------------
04.MethodsDebuggingTroubleshootingCode/Lab/out/production/Lab
