.vs
Lab.sln

01.Programming-Fundamentals-CSharp-Intro-and-Basic-Syntax.pptx
01.Programming-Fundamentals-CSharp-Intro-and-Basic-Syntax-Lab.docx

01.IntroAndBasicSyntax/Lab/P01_Greeting/bin/
01.IntroAndBasicSyntax/Lab/P01_Greeting/obj/
P01_Greeting.csproj

01.IntroAndBasicSyntax/Lab/P02_Add2Nums/bin/
01.IntroAndBasicSyntax/Lab/P02_Add2Nums/obj/
P02_Add2Nums.csproj

01.IntroAndBasicSyntax/Lab/P03_EmployeeData/bin/
01.IntroAndBasicSyntax/Lab/P03_EmployeeData/obj/
P03_EmployeeData.csproj




Exercises.sln
01.Programming-Fundamentals-CSharp-Intro-and-Basic-Syntax-Exercises.docx

01.IntroAndBasicSyntax/Exercises/P01_DebitCardNumber/bin/
01.IntroAndBasicSyntax/Exercises/P01_DebitCardNumber/obj/
P01_DebitCardNumber.csproj

01.IntroAndBasicSyntax/Exercises/P02_RectangleArea/bin/
01.IntroAndBasicSyntax/Exercises/P02_RectangleArea/obj/
P02_RectangleArea.csproj

01.IntroAndBasicSyntax/Exercises/P03_MilesToKm/bin/
01.IntroAndBasicSyntax/Exercises/P03_MilesToKm/obj/
P03_MilesToKm.csproj

01.IntroAndBasicSyntax/Exercises/P04_BeverageLabels/bin/
01.IntroAndBasicSyntax/Exercises/P04_BeverageLabels/obj/
P04_BeverageLabels.csproj

01.IntroAndBasicSyntax/Exercises/P05_CharacterStats/bin/
01.IntroAndBasicSyntax/Exercises/P05_CharacterStats/obj/
P05_CharacterStats.csproj



